.card {
  position: relative;
  max-height: 350px;
  max-width: 350px;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 4px;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}